aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==22.1.0
base58==2.1.1
bitarray==2.6.0
black==22.8.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_83242e7e-f82d-4a71-8ef2-9d71d212d249gu_wxmeq/croots/recipe/certifi_1655968827803/work/certifi
charset-normalizer==2.1.1
click==8.1.3
cytoolz==0.11.2
dateparser==1.0.0
distlib==0.3.6
dydx-v3-python==1.7.0
ecdsa==0.16.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
filelock==3.8.0
frozenlist==1.3.1
hexbytes==0.3.0
idna==3.4
importlib-metadata==0.23
ipfshttpclient==0.8.0a2
jsonschema==4.16.0
lru-dict==1.1.8
more-itertools==8.14.0
mpmath==1.0.0
multiaddr==0.0.9
multidict==6.0.2
mypy-extensions==0.4.3
netaddr==0.8.0
packaging==21.3
parsimonious==0.8.1
pathspec==0.10.1
platformdirs==2.5.2
pluggy==0.13.1
protobuf==3.20.2
py==1.11.0
pycryptodome==3.15.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==4.6.11
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
regex==2022.9.13
requests==2.28.1
requests-mock==1.6.0
rlp==2.0.1
six==1.16.0
sympy==1.6
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tox==3.13.2
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.26.12
varint==1.0.2
virtualenv==20.16.5
wcwidth==0.2.5
web3==5.30.0
websockets==9.1
yarl==1.8.1
zipp==3.8.1
